body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(148, 88, 153);
  font-family: 'Courier New', Courier, monospace;
}

#message-container {
  width: 80%;
  max-width: 1200px;
  margin-bottom: 50px;
}

#contentss {
  display: flex;
  justify-content: center;
}

#message-container div {
  background-color: rgb(138, 156, 196);
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: rgb(229, 162, 162);

}

#send-container {
  position: fixed;
  padding-bottom: 0px;
  bottom: 0;
  background-color: rgb(170, 194, 167);
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
}

.msg-txt {
  height: 2rem;
}

.submit {
  padding: 0 2rem;
  background-color: rgb(160, 55, 99);
  color: white;
  font-weight: 900;
}